<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Dear <%= @invoice.contact.fname %>,</h1>
    <p>
      You have a new invoice from <%= @user.username %> in the amount of <%= number_to_currency(@invoice.total) %>. To view or pay this invoice, please <%= link_to 'Click Here', client_show_url(@invoice, :only_path => false) %>
    </p>
    <p>-InvoiceBear Team</p>
  </body>
</html>
