<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have just been paid <%= number_to_currency(@invoice.total) %> for Invoice #<%= @invoice.number %></h1>
    <p>
    </p>
    <p>-InvoiceBear Team</p>
  </body>
</html>