<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Dear <%= @invoice.contact.fname %>,</h1>
    <p>
      You have a new invoice that needs to be paid in the amount of <%= @invoice.total %>. To view this invoice, please <%= link_to 'Click Here', invoice_url(@invoice, :only_path => false) %>
    </p>
    <p>-InvoiceBear Team</p>
  </body>
</html>
