<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>We got a new User!</h1>
    <p>
      Username is: <b><%= @user.username %></b><br/>
      Email is: <b><%= @user.email %></b><br />
    </p>
  </body>
</html>
