 <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Invoice Bear</h1>
        <p>Simple Fast Invoice Creation and Billing System for Independent Contractors on the Go! </p>
        <p><a class="btn btn-primary btn-large" href="/users/new">Sign Up &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Simple</h2>
           <p>Invoice Bear makes billing your clients simple and fast by providing an intuitvie design and the most user-friendly experience on the market.  </p>
          <p><a class="btn" href="/features">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Affordable</h2>
           <p>Since we deliver a product that focusing on the needs of independent contractors we also have worked to ensure our product meets their budgets. Try it out for free today! </p>
          <p><a class="btn" href="/pricing">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Mobile</h2>
          <p> Invoice Bear works across all smartphones and tablets, giving our customers the ability to create and edit their clients and invoices on the go! </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Invoice Bear 2012</p>
      </footer>

    </div> <!-- /container -->
