/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {margin:0;padding:0;background:#006363 !important;font-family:Verdana,Arial,Times;}

.main-content {background:white;padding:10px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-moz-box-shadow: 0 0 5px 2px #1D7373;
-webkit-box-shadow: 0 0 5px 2px #1D7373;
box-shadow: 0 0 5px 2px #1D7373;position:relative;}

span.ribbon {background-color:grey;width:140px;padding:7px;position:absolute;top:0;right:0;-webkit-border-top-right-radius: 5px;
-moz-border-radius-topright: 5px;color:white;text-align:center;border:4px dashed #FF9640;
border-top-right-radius: 5px;font-size:14px;font-weight:bold;text-transform:uppercase;font-family: 'Maven Pro', sans-serif;font-size:18px;}

.footer {text-align:center;padding:10px 0px;color:white;}
