/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {margin:0;padding:0;background:#FFB573 !important;font-family:Verdana,Arial,Times;}

.main-content {background:white;padding:10px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-moz-box-shadow: 0 0 5px 2px #FF9A40;
-webkit-box-shadow: 0 0 5px 2px #FF9A40;
box-shadow: 0 0 5px 2px #FF9A40;}

.footer {text-align:center;padding:10px 0px;}
